doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title HLS DEMO
        link(rel="stylesheet" href="./styles/main.css")
    body
        .main__container
            h1.main__title HLS DEMO
            .video__container
                p.video__title Video.js Demo
                .video__wrapper
                    video(width="640" height="360" type="application/x-mpegURL" controls loop).video-js.vjs-default-skin.vjs-big-play-centered#js-demo-video
            .video__container
        script(src='./scripts/index.js')
